# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:advancedrocketry=false
            B:advancedrocketrycore=false
            B:ae2stuff=false
            B:antiqueatlas=false
            B:antiqueatlasoverlay=false
            B:appliedenergistics2=false
            B:architecturecraft=false
            B:baubles=false
            B:bdlib=false
            B:betterbuilderswands=false
            B:betterplacement=false
            B:bibliocraft=false
            B:bigreactors=false
            B:biomesoplenty=false
            B:blur=false
            B:brandonscore=false
            B:buildcraftbuilders=false
            B:buildcraftcompat=false
            B:buildcraftcore=false
            B:buildcraftenergy=false
            B:buildcraftfactory=false
            B:buildcraftlib=false
            B:buildcraftrobotics=false
            B:buildcraftsilicon=false
            B:buildcrafttransport=false
            B:ceramics=false
            B:cfm=false
            B:chameleon=false
            B:chisel=false
            B:chiselsandbits=false
            B:clib=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:computercraft=false
            B:controlling=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:csb_ench_table=false
            B:ctgui=false
            B:ctm=false
            B:custommainmenu=false
            B:customnpcs=false
            B:draconicevolution=false
            B:dsurround=false
            B:elevatorid=false
            B:examplemod=false
            B:exchangers=false
            B:extrautils2=false
            B:fastbench=false
            B:fastleafdecay=false
            B:flyringbaublemod=false
            B:foamfix=false
            B:foamfixcore=false
            B:forge=false
            B:forgelin=false
            B:ftblib=false
            B:ftbutilities=false
            B:gardenstuff=false
            B:gravestone=false
            B:harvestcraft=false
            B:hats=false
            B:ichunutil=false
            B:immcraft=false
            B:immersivecables=false
            B:immersiveengineering=false
            B:immersivehempcraft=false
            B:immersivepetroleum=false
            B:immersiverailroading=false
            B:immersivetech=false
            B:industrialforegoing=false
            B:industrialwires=false
            B:integrationforegoing=false
            B:inventorytweaks=false
            B:ironchest=false
            B:jehc=false
            B:jei=false
            B:jeiintegration=false
            B:journeymap=false
            B:libvulpes=false
            B:malisisblocks=false
            B:malisiscore=false
            B:malisisdoors=false
            B:malisisswitches=false
            B:mantle=false
            B:matteroverdrive=false
            B:mcjtylib_ng=false
            B:mcp=false
            B:mercurius_updater=false
            B:minecraft=false
            B:mob_grinding_utils=false
            B:modnametooltip=false
            B:modtweaker=false
            B:mousetweaks=false
            B:mtlib=false
            B:mtrm=false
            B:natura=false
            B:omlib=false
            B:ompd=false
            B:openblocks=false
            B:openmods=false
            B:openmodscore=false
            B:openmodularturrets=false
            B:oreberries=false
            B:p455w0rdslib=false
            B:portalgun=false
            B:presets=false
            B:props=false
            B:ptrmodellib=false
            B:reauth=false
            B:redstoneflux=false
            B:rftools=false
            B:rftoolsdim=false
            B:securitycraft=false
            B:storagedrawers=false
            B:storagedrawersextra=false
            B:sync=false
            B:tcomplement=false
            B:tconstruct=false
            B:teslacorelib=false
            B:teslacorelib_registries=false
            B:theoneprobe=false
            B:thermaldynamics=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:tinkertoolleveling=false
            B:torchmaster=false
            B:trackapi=false
            B:unidict=false
            B:vc=false
            B:wanionlib=false
            B:waystones=false
            B:wct=false
            B:xreliquary=false
            B:yabba=false
            B:zerocore=false
        }

    }

}


